<p id="notice"><%= notice %></p>

<h1>User Tables</h1> 

<tbody>
    <% @user_tables.each do |user_table| %>
    <tr>
        <td><%= user_table.user_name %></td>
        <td><%= user_table.user_pass %></td>
        <td><%= user_table.user_mail %></td>
        <td><%= link_to 'Show', user_table %></td>
        <td><%= link_to 'Edit', edit_user_table_path(user_table) %></td>
        <td><%= link_to 'Destroy', user_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</tbody>

<br>
<br>

<%= link_to 'New User Table', new_user_table_path %>
