<p id="notice"><%= notice %></p>

<h1>General Descussion</h1>

<br>

<table>
  <tbody>
    <% @post_tables.each do |post_table| %>
      <tr>
        <td><%= post_table.title %></td>
        <td><%= post_table.content %></td>
        <td><%= link_to 'Show', post_table %></td>
        <td><%= link_to 'Edit', edit_post_table_path(post_table) %></td>
        <td><%= link_to 'Destroy', post_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Post', new_post_table_path %>
<br>
<br>
<%= link_to 'Back to Index', root_path %>
