<p id="notice"><%= notice %></p>

<h1>General Descussion</h1>

<br>
<%= form_tag(post_tables_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Post" %>
    <%= submit_tag "Search", :title => nil %>
<% end %>
<% if params[:search].blank? %>
  <h4>Please enter search term!</h4>
<% end %>
<% if @post_tables.blank? %>
  <h4>There are no matching posts to: <%= params[:search] %>.</h4>
<% end %>
<table>
  <tbody>
    <% @post_tables.each do |post_table| %>
      <tr>
        <td><%= post_table.title %></td>
        <td><%= post_table.content %></td>
        <td><%= link_to 'Show', post_table %></td>
        <td><%= link_to 'Edit', edit_post_table_path(post_table) %></td>
        <td><%= link_to 'Destroy', post_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Post', new_post_table_path %>
<br>
<br>
<%= link_to 'Back to Index', root_path %>
