<p id="notice"><%= notice %></p>

<h1><%= @post_table.title %></h1>

<br>

<p><%= @post_table.content %></p>

<br>
<%= link_to 'Edit', edit_post_table_path(@post_table) %> |
<%= link_to 'Back', post_tables_path %>
